body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 60inch;
  margin-inline:auto;
  padding: 1rem;
  nav {
  display: flex;
}

/* Make all links take equal space */
nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
}

/* Style current page */
nav a.current {
  font-weight: bold;
  border-bottom: 2px solid black;
}
}